<%= link_to "Create video", new_series_video_url(@series) %><br><br> 

<table class="table table-bordered text-center">
    <caption>List of videos for <%= @series.title %></caption>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    <% @videos.each do |video| %>
        <tbody>
            <tr>
                <td><%= video.title %></td>
                <td><%= video.description %></td>
                <td>
                    <%= link_to "Edit", edit_series_video_url(@series,video) %>
                </td>  
                <td>
                    <%= link_to "View", series_video_url(@series,video) %>
                </td> 
                <td>
                    <%= link_to [@series,video], :method => :delete, data: {confirm: "are your sure?"} do %>
                      <%= octicon("trashcan", :height => 32,  :class => "right left", :"aria-label" => "hi") %>
                    <% end %>
                </td>                 
            </tr>
        </tbody>
    <% end %>
</table>


