<div class="row">
  <div class="col-md-6 column">

    <h2>Create Video</h2>
    <%= form_for @video, url: series_videos_path , method: 'post' do |f| %>
      <div class="form-group">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :url %><br />
        <%= f.text_field :url, autocomplete: "current-level", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %><br />
        <%= f.text_area :description, autocomplete: "current-level", class: 'form-control' %>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <%= f.submit "Create Video", class: "form-control btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %><br>

  </div>
</div>
