<%= render 'partials/errors', model: @series %>

<div class="row">
  <div class="col-md-6 column">

    <h2>create serie</h2>
    <%= form_for @series, url: '/admin/series', method: 'post' do |f| %>
      <div class="form-group">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :level %><br />
        <%= f.text_field :level, autocomplete: "current-level", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %><br />
        <%= f.text_area :description, autocomplete: "current-level", class: 'form-control' %>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <%= f.submit "create serie", class: "form-control btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %><br>

  </div>
</div>
