<!DOCTYPE html>
<html>
<head>
  <title>WebGirls</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="/">Web girls</a>
        </li>

        <li class="nav-item active">
          <% if user_signed_in? && current_user.admin?  %>
          <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
          <% else %>
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          <% end %>
        </li>

        <% if user_signed_in? && current_user.admin?  %>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/series">Series <span class="sr-only">(current)</span></a>
          </li>
        <% end %>

      </ul>

      <% if user_signed_in? %>      
        <div class="dropdown show">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Setting</a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
        </div>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "login-link" %>
      <% end %>

    </div>
  </nav>

  <div class="container">
    <br><br>
    <% if notice %><div class="alert alert-info mt-1"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-info mt-1"><%= alert %></div><% end %>
    <% if flash[:error] %><div class="alert alert-danger"><%= flash[:error] %></div><% end %>
    <%= yield %>
  </div>
</body>
</html>